<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>home</title>
  <link rel="stylesheet" href="../css/cssReset.css">
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>
  <!-- 设置语义化头部部分 -->
  <header>
    <!-- 设置导航栏部分 -->
    <nav class="nav-part">
      <div class="clearfix">
        <div>
          <img src="../img/logo.png" alt="">
        </div>
        <ul>
          <li>
            <a href="#">HOME</a>
          </li>
          <li>
            <a href="#">SEARCH JOBS</a>
          </li>
          <li>
            <a href="#">RECRUITERS</a>
          </li>
          <li>
            <a href="#">COMPANIES</a>
          </li>
          <li>
            <a href="#">SERVICES</a>
          </li>
          <li>
            <a href="#">MORE</a>
          </li>
          <li>
            <a href="#">LOGIN HERE</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- 设置banner部分 -->
    <div class="banner-part">
      <div>
        <div class="search-part">
          <h3>Best Naukri Search Here</h3>
          <div class="search">
            <input type="search" placeholder="Search Job">
            <input type="button" value="Subscribe">
          </div>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum neque, dolores at officia libero iste tenetur reprehenderit ut provident quod nemo tempore veritatis harum voluptates cupiditate assumenda nostrum officiis! Molestiae!</p>
          <button></button>
        </div>
      </div>
    </div>
  </header>
</body>
</html>